<footer class="container-fluid foot_head">
    <div class="row feet">
        <div class="col-xs-1 col-sm-1 col-md-6 col-lg-6 foot foot_left">
            <h5 class="foot_nail">Contact Informations:</h5>
               <h6> <b>Address:</b>
                91, LEE HIGH RD LONDON SE13 5NS<br>
                <b>Phone:</b>
                07529326688<br>
                <b>Email:</b>
                info@yoursite.com</h6>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-6 col-lg-6 foot foot_right">
            <h5 class="foot_nail">Socialize With Us:</h5>
            <h6 class="media"><i class="fa fa-twitter-square"></i> Twitter</h6>
            <h6 class="media"><i class="fa fa-facebook-square"></i> Facebook</h6>
            <h6 class="media"><i class="fa fa-linkedin-square"></i> LinkedIn</h6>
            <h6 class="media"><i class="fa fa-instagram"></i> Instagram</h6>
        </div>
    </div>
    <a href="https://1izekorruby.wixsite.com/rubiz-creation" class="rubiz"><div class="foot_row foot col-xs-1 col-md-4 col-lg-4">
        <h6>Developed By: RUBIZ-CREATION</h6>
    </div></a>
</footer>
<script src="/app.js"></script>