<!--<div class="row mini_view">
   <div class="col-6">-->
   <a href="/"><img src="logo.jpg" width="150px" height="150px" class="mobile_logo mini_view"></a>
   <!--</div>
   <div class="col-6">--><button class="mobile_dropdown"><i class="fa fa-bars fa-2x"></i></button>
   <!--</div>
</div>-->
<div class="blur_contain">
<div class="blur">
</div>
</div>
<!--div class="container-fluid mobile_nav"-->
           <div class="container-fluid mobile_links">
           <div class="row">
                <div>
                     <a href="/"><h6>HOME</h6></a><br>
                     <h6><a href="/gallery"> GALLERY</a></h6><br>
                     <a href="/portfolio"><h6>PORTFOLIO</h6></a><br>
                     <a href="/blog" class="active_a"><h6>BLOG</h6></a><br>
                     <a href="/about"><h6>ABOUT</h6></a><br>
                     <a href="/contact"><h6>CONTACT</h6></a><br>
                     <!--<button class="btn btn-block btn-primary book" disabled><a href="/booking">Book Online</a></button>--><br>

                    <h7 class="log" id="log-btn"><button disabled>Login/Register</button></h7><br>
                    <h7><a>Mon-Fri 08:00 - 17:00</a></h7>
                    <h7>(+234)-809-943-3649</h7>
                </div>
                
                <div class="mobile_social">
                    <h7><i class="fa fa-facebook"></i></h7>
                    <h7><i class="fa fa-twitter"></i></h7>
                    <h7><i class="fa fa-google"></i></h7>
                    <h7><i class="fa fa-linkedin"></i></h7>
                </div>
           </div>
        </div>
   <!--/div-->