<div class="container-fluid main" id="main">
</div>
<nav class="nav-bar fles">
    <div class="fles">
        <h7 class="td-side">Mon-Fri 08:00 - 17:00</h7>
        <h7>07529326688</h7>
    </div>
    <div class="fles">
        <h7 class="log"><button disabled>Login/Register</button></h7>
        <h7 class="social"><i class="fa fa-facebook"></i></h7>
        <h7 class="social"><i class="fa fa-twitter"></i></h7>
        <h7 class="social"><i class="fa fa-google"></i></h7>
        <h7 class="social"><i class="fa fa-linkedin"></i></h7>
    </div>
</nav>